<!DOCTYPE html>
<html>
<head>
  <title>Pirates Display!</title>
</head>
<body>
<h1>Your Pirate Here</h1>
<div class = "pirate">
  <p> Name: <%= @pirate.name%></p>
  <p> Weight: <%= @pirate.weight%></p>
  <p> Height: <%= @pirate.height%></p>
</div>
<h2>Your Ships Here</h2>
<%@ships.each do %>
<div class = "ship">
  <p> Name: <%= @ships.name%></p>
  <p> Type: <%= @ships.type%></p>
  <p> Booty: <%= @ships.booty%></p>
  <%binding.pry%>
</div>
<%end%>

</body>
</html>
