<!DOCTYPE html>
<html>
<head>
  <title>Pirates Display!</title>
</head>
<body>
<h1>Your Pirate Here</h1>
<%= @pirate.name%>
<%= @pirate.weight%>
<%= @pirate.height%>
<h2>Your Ships Here</h2>
<%@ships.each do %>
<div class = "ship">
<%= @ships.name%>
<%= @ships.type%>
<%= @ships.booty%>
</div>
<%end%>

</body>
</html>
